body{
    margin: 0;
    background: #E5E5E5;
}
.navigation{
    margin-top: 50px;
}
.menu-ul{
    display: flex;
    list-style: none;
}
.nav-link{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #040200;
    opacity: 0.4;
    margin-left: 30px;
}
.nav-link:hover{
    color: #000;
    opacity: 1;
}

section{
    display: flex;
    justify-content: center;
}  
.head-center{
    display: flex;
    justify-content: center;
}
.container{
    width: 1320px;
} 
.row{
    display: flex;
    justify-content: space-between;
}
.col-6{
    width: 50%;
}  
h1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 50px;
    color: #040200;
}
p{
   font-family: 'Lato';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   color: #040200;
   opacity: 0.6;
}
button{
    width: 260px;
    height: 70px;
    background: #FF99C8;
    border-radius: 10px;
    border: none;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #040200;
}
